*.xml
*.dns
*.zip
*.pdf
*.lck
.DS_Store
fp-info-cache
*Gerber/*
**/*Gerber/*
*gerber/*
**/*gerber/*
Gerber*/*
**/Gerber*/*
gerber*/*
**/gerber*/*
*backups/*
**/*backups/*
*.kicad_prl
**/\#auto_saved_files\#
\#auto_saved_files\#
Gerbers*/*
**/Gerbers*/*
*Gerbers/*
**/*Gerbers/*
